<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.harumub_front">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- CameraX -->
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- S3 Bucket -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Harumub_front">

        <activity android:name=".WatchListActivity"/>
        <activity android:name=".WatchAloneActivity"/>
        <activity android:name=".AddreviewActivity"/>
        <activity android:name=".ResultActivity"/>
        <activity android:name=".MainActivity2"/>
        <activity android:name=".UserMovieListActivity"/>
        <activity android:name=".SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" android:exported="true" />
        <activity android:name=".SignupActivity" android:exported="true" />
        <activity android:name=".MainActivity1" android:exported="true" />
        <activity android:name=".TogetherActivity" />
        <activity android:name=".EnterActivity" />
        <activity android:name=".HelpActivity" />

        <!-- S3 Bucket -->
        <service android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService" android:enabled="true"/>
    </application>

</manifest>